<%= form_with(model: patient_cart) do |form| %>
  <% if patient_cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient_cart.errors.count, "error") %> prohibited this patient_cart from being saved:</h2>

      <ul>
        <% patient_cart.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :klinik_id %>
    <%= form.text_field :klinik_id %>
  </div>

  <div class="field">
    <%= form.label :doctor_id %>
    <%= form.text_field :doctor_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
